name: MLflow CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        lfs: true

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    - name: Install Dependencies
      run: |
        pip install mlflow dagshub pandas scikit-learn matplotlib seaborn joblib

    - name: Train Model (MLflow Run)
      env:
        MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
        MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      run: |
        # Masuk ke folder MLProject
        cd MLProject
        # Jalankan project
        mlflow run . --no-conda
    
    - name: Read Run ID
      id: get_run_id
      run: |
        cd MLProject
        # Ambil Run ID dari file txt yang dibuat modelling.py
        echo "RUN_ID=$(cat run_id.txt)" >> $GITHUB_ENV

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Docker Image
      env:
        MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
        MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      run: |
        echo "Building Docker for Run ID: ${{ env.RUN_ID }}"
        
        
        # Membuat Docker Image langsung dari model MLflow
        mlflow models build-docker \
          -m "runs:/${{ env.RUN_ID }}/model" \
          -n "${{ secrets.DOCKER_USERNAME }}/proyek-akhir-msml:latest" \
          --enable-mlserver
        
        # Upload ke Docker Hub
        docker push ${{ secrets.DOCKER_USERNAME }}/proyek-akhir-msml:latest